PORT=GIVE_THE_PORT_WHERE_YOU_WANT_TO_RUN_YOUR_AAPLICATION
MONGODB_URI=GIVE_YOUR_MONGODB_URI
CORS_ORIGIN=SPECIFY_YOUR_ORIGIN
ACCESS_TOKEN_SECRET=GIVE_A_RANDOM_STRING
ACCESS_TOKEN_EXPIRY=SET_AN_EXPIRY_DURATION
REFRESH_TOKEN_SECRET=GIVE_A_RANDOM_STRING
REFRESH_TOKEN_EXPIRY=SET_AN_EXPIRY_DURATION
CLOUDINARY_CLOUD_NAME=NAME_OF_YOUR_CLOUD
CLOUDINARY_API_KEY=GIVE_YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=GIVE_YOUR_CLOUDINARY_API_SECRET